/*
 * File: vehicles.component.css
 * Authors: Hegedus Gyorgy
 * Copyright: 2022, Hegedus Gyorgy
 * Group: Szoft II/N
 * Date: 2022-02-24
 * Github: https://github.com/Gyuri21
 * Licenc: GNU GPL
*/
button{
    margin-top: 10px;
    font-size: large;
    font-weight: bold;
}

input{
    border:2px solid green ;
    border-radius: 10px;
    width: 250px;
}
p{
    font-size: large;
    font-weight: bold;
    margin: 10px;
}
thead tr{
    color: green;
    font-size: large;
    font-weight: bold;
}
table{
    border: 3px solid green;
}
h1{
    color: green;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
}
.main{
    display: flex;
    flex-direction: row;
    text-align: center;
}
.list{
    display: flex;
    width: 50%;
    text-align: center;
}
.register{
    display: flex;
    justify-content: center;
    width: 50%;
    text-align: center;
}